.modal.fade{ id: modal_id, tabindex: '-1', 'aria-hidden' => 'true' }
  .modal-dialog
    .modal-content
      .modal-body
        %iframe{ src: contacts_path, width: '100%', height: '600', style: 'border:0' }

