- unread_messages = current_user.receiver_notifications.where(read: false).count

= link_to notifications_path, data: { turbo_frame: 'modal' }, class: 'menu-icon text-decoration-none' do
  %i.bi.bi-chat
  - if unread_messages.positive?
    %span.fs-6.mt-auto.text-light= unread_messages
%p.menu-text Activity