.d-flex.align-items-center.gap-5
  = link_to conversation_path(conversation),
    class: "conversation-link text-decoration-none text-light",
    data: { turbo_frame: "room" } do
    .name-conversation
      %p.ps-2= conversation.name

  = button_to conversation_path(conversation),
    method: :delete,
    class: 'btn btn-border-none text-light' do
    %i.bi.bi-trash3
