= turbo_frame_tag "modal" do
  %h1.mb-4.text-center Your notifications

  #notifications-list
    - if @notifications.present?
      - @notifications.each do |notification|
        = render 'notifications/notification', notification: notification