.home-page
  .d-flex.justify-content-between.align-items-center.me-4.ms-4
    %p.h3.mt-4.text-light.text-with-shadow Tolsky Chat
    = link_to 'Log in', new_user_session_path, class: 'btn btn-light mt-4'

  .hero-section
    .d-flex.flex-column.align-items-center.justify-content-center.flex-md-row
      %div
        %h1.text-light.pb-2.text-with-shadow Tolsky chat
        %h4.text-light.pt-2 Talking to you friend from anywhere in the world
      %div
        = image_tag 'Tolsky.png', class: 'hero-main-image'