= render 'navbar/navbar'

.body-page
  .d-flex
    .conversations-block.pt-2
      - @conversations.each do |conversation|
        = link_to conversation_path(conversation),
          class: "conversation-link",
          data: { turbo_frame: "room" } do
          %p= conversation.name
    .tabs.room-block
      = turbo_frame_tag "room" do
        %p .



