.home-page {
  min-height: 100vh;
  width: 100%;

  background: #2d044a;
  background: linear-gradient(110deg, rgb(38, 3, 62) 0%, rgba(133, 62, 171, 1) 100%);

  background-size: cover;
  background-repeat: no-repeat;
}

.hero-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.hero-section .hero-main-image {
  max-width: 450px;
}
