//.home-page {
//  min-height: 100vh;
//  width: 100%;
//  display: flex;
//  flex-direction: column;
//  padding-top: 20px;
//  background: linear-gradient(135deg, #b77adf 0%, #e8a66a 100%);
//  background-size: cover;
//  background-repeat: no-repeat;
//  background-attachment: fixed;
//}
//
//.home-page .content {
//  text-align: center;
//  color: #2d2d2d;
//  z-index: 2;
//}
//
//img.logo {
//  max-width: 600px;
//  height: auto;
//}
//
//.center-box {
//  margin-top: auto;
//  margin-bottom: auto;
//}