.tolsky {
  position: fixed;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 220px;
  height: auto;
  z-index: 10;
}

.hero-main-image{
  object-fit: cover;
  max-width: 100%;
  height: auto;
}