.sidebar {
  width: 70px;
  height: 100vh;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.menu-item {
  text-align: center;
}

.menu-icon {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.1);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 22px;
}

.menu-icon:hover {
  background: rgba(255,255,255,0.2);
}

.menu-text {
  color: white;
  font-size: 12px;
  margin-top: 5px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 14px;
  object-fit: cover;
}
