#myTab.nav-tabs {
  display: flex;
  flex-direction: column;

  flex: 0 0 clamp(180px, 25vw, 320px);
  height: 100%;

  border-bottom: none;
}

.conversations-block {
  height: 100%;
  padding: 12px 8px;
  background: rgb(98, 52, 108);
  margin-left: 4.5rem;
  border-radius: 8px 0 0 8px;
}

.tabs.room-block {
  flex: 1;
  height: 100%;
  width: 100%;

  background: #ffffff;
  overflow: hidden;
  border-radius: 0 8px 8px 0;
}

.tab-pane {
  height: 100%;
  width: 100%;
  display: none;
}

.tab-pane.active {
  display: block;
}

.tab-pane iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

